{
    "web_url": [your univerisity canvas page],
    "token": [Your canvas token],
    "base_path": [relative path for downloading files],
    
    "python": [your runtime python here, optional],
    "dest_path": [remote web drive path configured using rclone, i.e. server:path, optional]
}
